
#grid-container {
    background-color: rgba(255, 0, 0, 0.418);
    height: 400px;
}

#grid-squares {
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 25
}