
body {
    display: flex;
    justify-content: center;
}
#grid-container {
    background-color: rgba(255, 0, 0, 0.418);
    max-width: 350px;
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#grid-squares {
    background-color: pink;
    border: 2px solid red;
    height: 70px;
    width: 70px;
    flex: 1 auto;
}

#grid-squares:hover {
    background-color: black;
}